@import url(../../App.css);

.making-article-input {
    border-radius: 10px;
    height: 50px;
    padding: 20px;
    outline: none;
    border: 0;
    word-wrap: break-word;
    word-break: normal;
    resize: none;
    width: 100%;
    overflow: hidden;
}

.making-article-input-title {
    height: calc(var(--h1-text-size) + 11px);
    font-family: montserrat, sans-serif;
    font-size: var(--h1-text-size);
    font-weight: 700;
    margin-bottom: 20px;
}

.making-article-input-main {
    height: calc(var(--main-text-size) + 11px);
    font-family: montserrat, sans-serif;
    font-size: var(--main-text-size);
    font-weight: 500;
    margin-bottom: 20px;
}

.making-article-input-subtitle {
    font-family: montserrat, sans-serif;
    height: calc(var(--h2-text-size) + 11px);
    font-size: var(--h2-text-size);
    font-weight: 600;
}

.light-theme .making-article-input {
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-main-color) !important;
}

.dark-theme .making-article-input {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-main-text-color);
}

.result-feild{
    margin-top: 50px;
    border: 2px solid;
    padding: 20px;
    border-radius: 20px;
    height: auto;
}

.light-theme .result-feild *{
    color: var(--light-theme-main-color) !important;
}

.dark-theme .result-feild *{
    color: var(--dark-theme-main-text-color);
}

@media screen and (max-width: 1000px){
    .result-feild{
        padding: 10px;
    }
}

@media screen and (max-width: 750px){
    .result-feild{
        margin-top: 30px;
    }
}

.block-feild{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.result-feild a{
    color: var(--light-theme-main-color) !important;
}

.delete-button{
    background-color: var(--light-theme-background-color) !important;
}

.delete-button *{
    color: red !important;
}

.delete-button ~ .button-decorate{
    background-color: red !important;
}

.feild-ctn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
/*--------------------------THEME----------------------*/

.block-sky{
    background-color: #6296FF !important;
    background-image: url(../../images/cloud.svg);
    background-size: 15%;
}

.block-sky .making-article-input{
    background-color: #163470 !important;
    color: #fff !important;
}
.block-sky .making-article-input *{
    color: #fff !important;
}

.block-sea{
    background-color: #6296FF !important;
    background-image: url(../../images/wave.svg);
    background-size: 100%;
}

.block-sea .making-article-input{
    background-color: #00359F !important;
    color: #fff !important;
}
.block-sea .making-article-input *{
    color: #fff !important;
}

.block-flowers{
    background-color: #2BBF77 !important;
    background-image: url(../../images/flower.svg);
    background-size: 10%;
}

.block-flowers .making-article-input{
    background-color: #106D40 !important;
    color: #fff !important;
}

.block-flowers .making-article-input *{
    color: #fff !important;
}

.block-fire{
    background-color: #FFE3C1 !important;
    background-image: url(../../images/fire.svg);
    background-size: 10%;
}

.block-fire .making-article-input{
    background-color: #C45633 !important;
    color: #fff !important;
}

.feild-img{
    max-height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.feild-img-wrapper{
    width: 100%;
}