@import url('../../App.css');

.append-panel {
    z-index: 30;
    width: 100vw;
    position: fixed;
    bottom: 0px;
}

.append-panel-content {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    filter: drop-shadow(0px 5px 10px rgba(1, 2, 24, 0.20));
}

.append-panel-block {
    filter: drop-shadow(0px 5px 10px rgba(1, 2, 24, 0.20));
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.light-theme .append-panel-block {
    background-color: var(--light-theme-background-color);
}

.dark-theme .append-panel-block {
    background-color: var(--dark-theme-background-color);
}

.font-panel {
    top: 75px;
    width: 100vw;
    position: fixed;
}

.font-panel-content>* {
    margin-right: 20px;
}

.font-panel-content {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    filter: drop-shadow(0px 5px 10px rgba(1, 2, 24, 0.20));
    border-radius: 20px;
}

.font-panel-block {
    display: flex;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    height: 75px;
}

@media screen and (max-width: 750px) {
    .append-panel-content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .append-panel-content .button-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .append-panel-content {
        flex-direction: column;
        gap: 0;
        height: 250px;
    }

    .append-panel-content .button-wrapper {
        width: 100%;
    }

    .font-panel {
        top: 50px;
    }

    .font-panel-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2px;
        padding: 0 5px;
    }

    .font-panel-content * {
        margin: 0;
        width: 50px;
    }
}

.send-button-wrapper {
    display: flex;
    justify-content: center;
}

/*----------------------------THEME--------------------------*/

.theme-choose-buttons-wrapper {
    margin-bottom: 30px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .theme-choose-buttons-wrapper {
        width: 100%;
    }
}

.theme-choose-button {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    transition: all .2s ease-out;
    border: 2px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 550px) {
    .theme-choose-button {
        height: 30px;
        width: 30px;
    }
}


.theme-choose-button-active {
    border: 2px solid #fff;
}

.theme-choose-button-sky {
    background-color: #6296FF;
}

.theme-choose-button-sea {
    background-color: #00359F;
}

.theme-choose-button-flowers {
    background-color: #2BBF77;
}